Repository MoDNS/MoDNS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Add lots of comments like a good little programmer
  plugins/base-listener/src/plugin.c
Owners: @bpjordan

Fix some instability
  plugins/base-listener/src/plugin.c
Owners: @bpjordan

Raise max requests to 512
  plugins/base-listener/src/plugin.c
Owners: @bpjordan

Finally fixed the get function
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Fix sleep-deprived use after free
  plugins/base-listener/src/plugin.c
Owners: @bpjordan

Fixed json to string conundrum
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

removed fluff
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Fix C warning
  plugins/common/logs.c
Owners: @bpjordan

Remove deprecated DNS listener code
  server/src/listeners/dns/mod.rs
  server/src/listeners/mod.rs
Owners: @bpjordan, @sethajwarren

Added database user query
  server/src/config.rs
  server/src/listeners/api/routes.rs
Owners: @bpjordan, @sethajwarren

Remove synchronous listeners from documentation
  docs/plugins.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

lots of api fixes. weird redudancy, will fix later
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/DatabaseSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ServerSettings.jsx
  frontend/dns_frontend/src/Pages/Dashboard.jsx
Owners: @aankitp, @carterray31001

Fixed warnings
  server/src/listeners/api/routes.rs
  server/src/plugins/plugin.rs
Owners: @sethajwarren, @bpjordan

removed unused variables
  frontend/dns_frontend/src/Components/PluginTable.jsx
  frontend/dns_frontend/src/Components/Settings/ServerSettings.jsx
  frontend/dns_frontend/src/Pages/Dashboard.jsx
  frontend/dns_frontend/src/Pages/Plugins.jsx
Owners: @aankitp, @carterray31001

Fix API resource starvation
  plugins/base-listener/src/plugin.c
  server/src/plugins/handler.rs
Owners: @bpjordan, @sethajwarren

changes
  plugins/base-datacollector/Makefile
  plugins/base-datacollector/myData.json
  plugins/base-datacollector/src/DashboardDataCollector.cpp
Owners: @bpjordan

Fix Makefile clean target
  Makefile
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Fix tests attempting to parse CLI config
  server/src/config.rs
  server/tests/modules.rs
  server/tests/plugin_manager.rs
Owners: @bpjordan, @sethajwarren

Don't dereference a null pointer if startup fails
  plugins/base-listener/src/plugin.c
  server/src/plugins/plugin.rs
Owners: @bpjordan, @sethajwarren

Log fewer things by default
  plugins/base-listener/src/plugin.c
Owners: @bpjordan

Use cargo sparse protocol
  Dockerfile.Backend.Dev
Owners: @tchuhn

Cache cargo registry
  docker-compose.yaml
Owners: @tchuhn

Fix frontend directory paths (images should work now)
  frontend/dns_frontend/package.json
  server/src/listeners/api/routes.rs
Owners: @aankitp, @carterray31001, @sethajwarren

Added Images - favicon for tab - logo on login screen - logo in topbar
  frontend/dns_frontend/public/favicon-dark.svg
  frontend/dns_frontend/public/favicon-light.svg
  frontend/dns_frontend/public/favicon.ico
  frontend/dns_frontend/public/favicon.svg
  frontend/dns_frontend/public/index.html
  frontend/dns_frontend/public/logo192.png
  frontend/dns_frontend/public/logo512.png
  frontend/dns_frontend/public/manifest.json
  frontend/dns_frontend/src/Components/TopBar.jsx
  frontend/dns_frontend/src/Pages/Login.jsx
  frontend/dns_frontend/src/images/logo.svg
  frontend/dns_frontend/src/images/logo_small.svg
  frontend/dns_frontend/src/logo.svg
Owners: @aankitp, @carterray31001

removed stupid unused var
  frontend/dns_frontend/src/Components/TopBar.jsx
Owners: @aankitp, @carterray31001

removed stupid unused var again
  frontend/dns_frontend/src/Pages/Login.jsx
Owners: @aankitp, @carterray31001

Add internal config options for HTTPS
  server/src/config.rs
Owners: @bpjordan, @sethajwarren

Allowed multiple server configs to be requested
  server/src/listeners/api/routes.rs
  server/src/plugins/manager.rs
Owners: @sethajwarren, @bpjordan

Small changes to allow multiple server config gets
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Removed global dashboard server config
  server/src/config.rs
  server/src/listeners/api/routes.rs
Owners: @bpjordan, @sethajwarren

Add GCC colors to Makefile
  Makefile
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Updated abstract
  docs/assignments/technical_report/settings.yaml
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Edited introduction
  docs/assignments/technical_report/1_intro.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Updated Design Process
  docs/assignments/technical_report/2_designProcess.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

worked on 3_hardware_software.md
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/4_designConsiderations.md
  docs/assignments/technical_report/5_works_cited.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Add https support to API
  server/Cargo.toml
  server/src/listeners/api/mod.rs
  server/src/listeners/mod.rs
  server/src/main.rs
Owners: @bpjordan, @sethajwarren

Map HTTPS port on dev env
  docker-compose.yaml
Owners: @tchuhn

Cache testing dependencies separately from build dependencies
  .github/workflows/ci-workflow.yml
Owners: @tchuhn

Settings Overhaul - restructured settings page - new settings - new method of requesting settings.
  frontend/dns_frontend/public/favicon-dark.svg
  frontend/dns_frontend/public/favicon-light.svg
  frontend/dns_frontend/public/favicon.svg
  frontend/dns_frontend/src/API/auth.jsx
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ChangePassword.jsx
  frontend/dns_frontend/src/Components/Settings/DatabaseSettings.jsx
  frontend/dns_frontend/src/Components/Settings/GeneralSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ServerSettings.jsx
  frontend/dns_frontend/src/Components/Settings/SettingBox.jsx
  frontend/dns_frontend/src/Components/Settings/ThemeSelector.jsx
  frontend/dns_frontend/src/Components/Settings/WebSecurity.jsx
  frontend/dns_frontend/src/Constants.jsx
  frontend/dns_frontend/src/Pages/Dashboard.jsx
  frontend/dns_frontend/src/Pages/Login.jsx
  frontend/dns_frontend/src/Pages/Settings.jsx
  frontend/dns_frontend/src/images/logo.svg
  frontend/dns_frontend/src/scripts/getsetLocalStorage.jsx
  frontend/dns_frontend/src/themes.jsx
Owners: @aankitp, @carterray31001

small fixes, pull from main, no working
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
  frontend/dns_frontend/src/Components/Settings/WebSecurity.jsx
Owners: @aankitp, @carterray31001

docs/CODEOWNERS:

# This file defines the person or persons that "own" certain
# portions of the repository. Ownership does not imply that
# the owner is the only person allowed to make changes to a
# file, only that they should be notified and provide approval
# before the file is changed on main
#
# In cases where multiple people own a file, only one person
# on that list is required to grant approval

# Default rule, everyone owns files not explicitly mentioned
* 	@aankitp @bpjordan @carterray31001 @sethajwarren @tchuhn

# General rule for frontend
/frontend/ 	@aankitp @carterray31001

# General rule for backend
/server/	@bpjordan @sethajwarren

# Bronson handles the plugin API
/modns-sdk/	@bpjordan
/plugins/	@bpjordan

# Seth handles the control API
/server/src/listeners/api/		@sethajwarren
/server/src/plugins/metadata.rs		@sethajwarren
/cli/					@sethajwarren

# Rules for DevOps
/.github/		@tchuhn
Dockerfile*		@tchuhn
docker-compose.yaml	@tchuhn
