Repository MoDNS/MoDNS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

docs/CODEOWNERS:

# This file defines the person or persons that "own" certain
# portions of the repository. Ownership does not imply that
# the owner is the only person allowed to make changes to a
# file, only that they should be notified and provide approval
# before the file is changed on main
#
# In cases where multiple people own a file, only one person
# on that list is required to grant approval

# Default rule, everyone owns files not explicitly mentioned
* 	@aankitp @bpjordan @carterray31001 @sethajwarren @tchuhn

# General rule for frontend
/frontend/ 	@aankitp @carterray31001

# General rule for backend
/server/	@bpjordan @sethajwarren

# Bronson handles the plugin API
/modns-sdk/	@bpjordan
/plugins/	@bpjordan

# Seth handles the control API
/server/src/listeners/api/		@sethajwarren
/server/src/plugins/metadata.rs		@sethajwarren
/cli/					@sethajwarren

# Rules for DevOps
/.github/		@tchuhn
Dockerfile*		@tchuhn
docker-compose.yaml	@tchuhn

Add database setup function to cache plugin
  plugins/.gitignore
  plugins/base-cache/go.mod
  plugins/base-cache/main.go
  plugins/base-cache/plugin.h
  server/src/config.rs
  server/src/plugins/manager.rs
Owners: @bpjordan, @sethajwarren

Fix test plugin
  server/tests/test-plugin/plugin.c
Owners: @bpjordan, @sethajwarren

Don't enable plugins by default
  server/src/plugins/manager.rs
Owners: @bpjordan, @sethajwarren

Fix API deadlock
  server/src/listeners/api/mod.rs
Owners: @sethajwarren

I hope this doesn't blow up
  server/src/listeners/api/mod.rs
  server/src/listeners/api/routes.rs
  server/src/plugins/mod.rs
  server/src/plugins/plugin.rs
Owners: @sethajwarren, @bpjordan

Carter knows more about Rust than I do
  server/src/listeners/api/routes.rs
  server/src/listeners/mod.rs
  server/src/main.rs
Owners: @sethajwarren, @bpjordan

Replace RCode and OpCode enums with u16
  modns-sdk/src/types/conversion.rs
  modns-sdk/src/types/ffi.rs
  modns-sdk/src/types/safe.rs
  plugins/common/decode.c
  server/tests/listener.rs
Owners: @bpjordan, @sethajwarren

Fixed conflicts
  server/src/listeners/api/mod.rs
  server/src/listeners/mod.rs
  server/src/main.rs
Owners: @sethajwarren, @bpjordan

Add database initialization to caching plugin
  docker-compose.yaml
  plugins/base-cache/go.mod
  plugins/base-cache/main.go
Owners: @tchuhn, @bpjordan

Fixed errors
  server/src/listeners/api/mod.rs
  server/src/plugins/manager.rs
  server/src/plugins/mod.rs
  server/src/plugins/plugin.rs
Owners: @sethajwarren, @bpjordan

Don't cancel build runs if one fails
  .github/workflows/ci-workflow.yml
Owners: @tchuhn

Fix CStr pointer signedness issue for arm builds
  modns-sdk/src/helpers/strings.rs
Owners: @bpjordan

Add go.sum file
  plugins/.gitignore
  plugins/base-cache/go.sum
Owners: @bpjordan

Added log request
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Fixed odd conflict
  server/src/plugins/mod.rs
Owners: @bpjordan, @sethajwarren

Fixed panic (oopsie)
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Wrappers are wacky
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Panics are fine... Right?
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Something will break, either my brain or a wall
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Panics begone
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Added use_global_dash to config calls
  server/src/config.rs
Owners: @bpjordan, @sethajwarren

Added use_global_dash query to endpoint
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

removed fluff
  server/src/config.rs
Owners: @bpjordan, @sethajwarren

Add support for async listeners to server
  modns-sdk/src/lib.rs
  server/src/plugins/handler.rs
  server/src/plugins/manager.rs
  server/src/plugins/mod.rs
  server/src/plugins/plugin.rs
  server/tests/listener.rs
Owners: @bpjordan, @sethajwarren

api fixes, displayed information fixes, changed dashboard to be local until global dashboard implemented
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/DatabaseSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ServerSettings.jsx
  server/src/config.rs
Owners: @aankitp, @carterray31001, @bpjordan, @sethajwarren

WIP: Implement async functions for base-listener
  plugins/base-listener/src/plugin.c
Owners: @bpjordan

Implement async listener plugin
  plugins/base-listener/src/plugin.c
Owners: @bpjordan

Implement async listeners on server
  server/src/listeners/mod.rs
  server/src/main.rs
  server/src/plugins/handler.rs
  server/src/plugins/manager.rs
Owners: @bpjordan, @sethajwarren

WIP: Fix TCP listener
  docker-compose.yaml
  plugins/base-listener/src/plugin.c
Owners: @tchuhn, @bpjordan

Fix TCP listener
  docker-compose.yaml
  plugins/base-listener/src/plugin.c
Owners: @tchuhn, @bpjordan

oops
  server/tests/listener.rs
Owners: @bpjordan, @sethajwarren

oops x2
  frontend/dns_frontend/src/App.jsx
Owners: @aankitp, @carterray31001

Changes
  Makefile
  frontend/dns_frontend/src/API/getsetAPI.jsx
  plugins/Makefile
  plugins/base-datacollector/Makefile
  plugins/base-datacollector/manifest.yaml
  plugins/base-datacollector/myData.json
  plugins/base-datacollector/src/DashboardDataCollector.cpp
  plugins/base-inspector/Interceptor.out
  plugins/base-inspector/a.cpp
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Install CMake in Backend Dockerfile
  Dockerfile.Backend.Dev
Owners: @tchuhn

changes
  .gitmodules
  plugins/base-datacollector/Makefile
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Changes
  frontend/dns_frontend/src/Pages/API.md
  frontend/dns_frontend/src/Pages/About.jsx
  frontend/dns_frontend/src/Pages/README.md
  frontend/dns_frontend/src/Pages/plugins.md
Owners: @aankitp, @carterray31001

minor api fixes after discussion removed image until image is possible refined some formatting accross the board
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/PluginOverview.jsx
  frontend/dns_frontend/src/Components/PluginTable.jsx
  frontend/dns_frontend/src/Components/PluginTableRow.jsx
  frontend/dns_frontend/src/Components/Plugins/Overview.jsx
  frontend/dns_frontend/src/Components/Settings/DatabaseSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ServerSettings.jsx
  frontend/dns_frontend/src/Components/TopBar.jsx
  frontend/dns_frontend/src/Pages/Dashboard.jsx
  frontend/dns_frontend/src/Pages/Plugins.jsx
Owners: @aankitp, @carterray31001

Replaced keys w/ consts and began to lose sanity
  server/src/config.rs
  server/src/listeners/api/routes.rs
  server/src/plugins/metadata.rs
Owners: @bpjordan, @sethajwarren

initial attempt to change api after discussions, will bugfix later
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/PluginTable.jsx
  frontend/dns_frontend/src/Components/Settings/DatabaseSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ServerSettings.jsx
  frontend/dns_frontend/src/Constants.jsx
  frontend/dns_frontend/src/Pages/Dashboard.jsx
Owners: @aankitp, @carterray31001

Fixed server config get function
  cli/src/commands/plugins.rs
  server/src/config.rs
  server/src/listeners/api/routes.rs
  server/src/plugins/plugin.rs
Owners: @sethajwarren, @bpjordan
