Repository MoDNS/MoDNS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Added screenshots to the appendices
  docs/assignments/technical_report/appendices.md
  docs/assignments/technical_report/login.png
  docs/assignments/technical_report/login.png:Zone.Identifier
  docs/assignments/technical_report/plugin_over.png
  docs/assignments/technical_report/plugin_over.png:Zone.Identifier
  docs/assignments/technical_report/plugin_seq.png
  docs/assignments/technical_report/plugin_seq.png:Zone.Identifier
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Try number 7 give it up for try number 7
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
Owners: @aankitp, @carterray31001

Fixed with the most dumb way...... - shallow copy sucks - hey react, how does a const have the ability to change?
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
  frontend/dns_frontend/src/Constants.jsx
  frontend/dns_frontend/src/Pages/Settings.jsx
Owners: @aankitp, @carterray31001

added missing api endpoints under all key, fixed wrong api function calls
  server/src/config.rs
  server/src/listeners/api/routes.rs
Owners: @bpjordan, @sethajwarren

sqash bug
  server/src/config.rs
Owners: @bpjordan, @sethajwarren

Added more images and expanded settings screen
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/advanced_settings.png:Zone.Identifier
  docs/assignments/technical_report/appendices.md
  docs/assignments/technical_report/general_settings.png:Zone.Identifier
  docs/assignments/technical_report/web_security.png:Zone.Identifier
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

incomplete implementation of plugins env, Makefile needs rework
  Dockerfile.Plugins
  Makefile
  docker-compose.yaml
Owners: @tchuhn, @aankitp, @bpjordan, @carterray31001, @sethajwarren

Fixed spelling errors
  docs/assignments/technical_report/1_intro.md
  docs/assignments/technical_report/2_designProcess.md
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/4_designConsiderations.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Changed plugin exception
  docs/assignments/technical_report/appendices.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

more spelling lessons
  docs/assignments/technical_report/appendices.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

random changes
  docs/assignments/technical_report/4_designConsiderations.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

random chages :)
  docs/assignments/technical_report/appendices.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

uh uh uh words
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/4_designConsiderations.md
  docs/assignments/technical_report/advanced_settings.png:Zone.Identifier
  docs/assignments/technical_report/general_settings.png:Zone.Identifier
  docs/assignments/technical_report/login.png:Zone.Identifier
  docs/assignments/technical_report/plugin_over.png:Zone.Identifier
  docs/assignments/technical_report/plugin_seq.png:Zone.Identifier
  docs/assignments/technical_report/web_security.png:Zone.Identifier
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Spelling
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/4_designConsiderations.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

uh more words
  docs/assignments/technical_report/3_hardware_software.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

SDK fixes needed for demo plugin
  modns-sdk/src/helpers/database.rs
  modns-sdk/src/helpers/memory.rs
  modns-sdk/src/helpers/strings.rs
  modns-sdk/src/types/conversion.rs
  server/src/plugins/plugin.rs
Owners: @bpjordan, @sethajwarren

Add demo plugin
  Makefile
  docker-compose.yaml
  plugins/Makefile
  plugins/demo-validator/Makefile
  plugins/demo-validator/manifest.yaml
  plugins/demo-validator/plugin.c
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Fix release workflow
  .github/workflows/packaging-workflow.yml
Owners: @tchuhn

add axum api scaffolding
  server/Cargo.toml
  server/src/api/mod.rs
  server/src/api/routes/mod.rs
  server/src/api/runner.rs
  server/src/api/runner/errors.rs
  server/src/api/runner/unix.rs
  server/src/lib.rs
Owners: @bpjordan, @sethajwarren

add frontend router
  server/Cargo.toml
  server/src/api/routes/frontend.rs
  server/src/api/routes/mod.rs
  server/src/lib.rs
  server/src/main.rs
Owners: @bpjordan, @sethajwarren

docs/CODEOWNERS:

# This file defines the person or persons that "own" certain
# portions of the repository. Ownership does not imply that
# the owner is the only person allowed to make changes to a
# file, only that they should be notified and provide approval
# before the file is changed on main
#
# In cases where multiple people own a file, only one person
# on that list is required to grant approval

# Default rule, everyone owns files not explicitly mentioned
* 	@aankitp @bpjordan @carterray31001 @sethajwarren @tchuhn

# General rule for frontend
/frontend/ 	@aankitp @carterray31001

# General rule for backend
/server/	@bpjordan @sethajwarren

# Bronson handles the plugin API
/modns-sdk/	@bpjordan
/plugins/	@bpjordan

# Seth handles the control API
/server/src/listeners/api/		@sethajwarren
/server/src/plugins/metadata.rs		@sethajwarren
/cli/					@sethajwarren

# Rules for DevOps
/.github/		@tchuhn
Dockerfile*		@tchuhn
docker-compose.yaml	@tchuhn
