Repository MoDNS/MoDNS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

docs/CODEOWNERS:

# This file defines the person or persons that "own" certain
# portions of the repository. Ownership does not imply that
# the owner is the only person allowed to make changes to a
# file, only that they should be notified and provide approval
# before the file is changed on main
#
# In cases where multiple people own a file, only one person
# on that list is required to grant approval

# Default rule, everyone owns files not explicitly mentioned
* 	@aankitp @bpjordan @carterray31001 @sethajwarren @tchuhn

# General rule for frontend
/frontend/ 	@aankitp @carterray31001

# General rule for backend
/server/	@bpjordan @sethajwarren

# Bronson handles the plugin API
/modns-sdk/	@bpjordan
/plugins/	@bpjordan

# Seth handles the control API
/server/src/listeners/api/		@sethajwarren
/server/src/plugins/metadata.rs		@sethajwarren
/cli/					@sethajwarren

# Rules for DevOps
/.github/		@tchuhn
Dockerfile*		@tchuhn
docker-compose.yaml	@tchuhn

Add logging and better error messages to go plugin
  plugins/base-cache/main.go
Owners: @bpjordan

publish branch
  frontend/dns_frontend/src/Components/Settings/SettingBox.jsx
Owners: @aankitp, @carterray31001

This should be good
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Vec string for config get
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

changes
  plugins/base-datacollector/src/DashboardDataCollector.cpp
Owners: @bpjordan

changes admin pw hash key name
  server/src/config.rs
Owners: @bpjordan, @sethajwarren

Setting should also work now
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Somewhat hacky temp fix (WIP)
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Add debug output for API responses
  cli/src/util.rs
Owners: @sethajwarren

Fix request path
  cli/src/commands/mod.rs
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Fix decoding of plugin_path
  cli/src/commands/mod.rs
Owners: @sethajwarren

all the changes i've made so far to handle the api requests
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ChangePassword.jsx
  frontend/dns_frontend/src/Components/Settings/GeneralSettings.jsx
  frontend/dns_frontend/src/Components/Settings/WebSecurity.jsx
  frontend/dns_frontend/src/Constants.jsx
  frontend/dns_frontend/src/Pages/Dashboard.jsx
  frontend/dns_frontend/src/scripts/scripts.jsx
Owners: @aankitp, @carterray31001

Implement endpoint with query parameters
  cli/src/commands/mod.rs
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Rewrite config set route to accept json or query
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Fix warning
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Fixed the compounding plugin path issue
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Expanded the Design Process
  docs/assignments/technical_report/2_designProcess.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Changes
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/4_designConsiderations.md
  docs/assignments/technical_report/appendices.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

Finally fixed duplication
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Haha
  docs/assignments/technical_report/4_designConsiderations.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

up to date
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
Owners: @aankitp, @carterray31001

Filter duplicates from plugin path
  server/src/config.rs
Owners: @bpjordan, @sethajwarren

Uncomment SDK init function call
  server/src/plugins/manager.rs
  server/src/plugins/plugin.rs
Owners: @bpjordan, @sethajwarren

WIP: Implement cache plugin
  plugins/base-cache/go.mod
  plugins/base-cache/main.go
Owners: @bpjordan

report additions
  docs/assignments/technical_report/4_designConsiderations.md
  docs/assignments/technical_report/appendices.md
  docs/assignments/technical_report/settings.yaml
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

working version
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
  frontend/dns_frontend/src/Components/Settings/GeneralSettings.jsx
  frontend/dns_frontend/src/Components/Settings/WebSecurity.jsx
Owners: @aankitp, @carterray31001

Implement inspector
  plugins/base-cache/main.go
Owners: @bpjordan

potential fix for db_user bug
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Additional changes
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

I wrote Rust and it compiled - fixed tls_cert_key changing tls_key_key - fixed missing key db_user_key in GET 'all' - fixed strings spontaniously creating quotation marks
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/WebSecurity.jsx
  server/src/config.rs
  server/src/listeners/api/routes.rs
Owners: @aankitp, @carterray31001, @bpjordan, @sethajwarren

removed console.logs
  frontend/dns_frontend/src/API/getsetAPI.jsx
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
  frontend/dns_frontend/src/Components/Settings/WebSecurity.jsx
Owners: @aankitp, @carterray31001

String changes
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

Random error
  server/src/listeners/api/routes.rs
Owners: @sethajwarren

JS error removal
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
  frontend/dns_frontend/src/Components/Settings/ThemeSelector.jsx
  frontend/dns_frontend/src/Pages/Dashboard.jsx
  frontend/dns_frontend/src/Pages/Settings.jsx
Owners: @aankitp, @carterray31001

More JS fixing
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
Owners: @aankitp, @carterray31001

JS re erroring for someone who knows JS to debug
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
Owners: @aankitp, @carterray31001

More report changes
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/4_designConsiderations.md
  docs/assignments/technical_report/5_works_cited.md
  docs/assignments/technical_report/appendices.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

fix?
  frontend/dns_frontend/src/Components/Settings/AdvancedSettings.jsx
Owners: @aankitp, @carterray31001

Wacky formatting stuff
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/5_works_cited.md
  docs/assignments/technical_report/appendices.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn

More formatting and expanding frontend section
  docs/assignments/technical_report/3_hardware_software.md
  docs/assignments/technical_report/4_designConsiderations.md
  docs/assignments/technical_report/appendices.md
Owners: @aankitp, @bpjordan, @carterray31001, @sethajwarren, @tchuhn
